<a href="https://colab.research.google.com/github/PaulToronto/DataCamp-Courses/blob/main/Object_Oriented_Programming_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Object-Oriented Programming in Python

This notebook contains my notes from a DataCamp course:

[Object-Oriented Programming in Python](https://app.datacamp.com/learn/courses/object-oriented-programming-in-python)

## OOP Fundamentals

### What is OOP?

- Procedural programming
    - Code as a sequence of steps
    - Great for data analysis
- Object-oriented programming
    - Code as interactions of objects
    - Great for building frameworks and tools
    - Maintainable and reusable code

#### Objects as data structures

- Objects incorportate 
    1. state
    2. behaviour
- **Encapsulation** 
    - bundles state and behaviour together

#### Classes as blueprints

- **Class**
    - blueprint for objects outlining possible states and behaviour

#### Objects in Python

- Everything in Python is an object
- Every object has a class
- Use `type()` to find the class

In [1]:
import numpy as np
a = np.array([1, 2, 3, 4])
type(a)

numpy.ndarray

#### Attributes and methods

- state information is contained in **attributes**
- behaviour information is contained in **methods**

In [2]:
# attribute
a.shape

(4,)

In [3]:
# method
a.reshape(2, 2)

array([[1, 2],
       [3, 4]])

#### List all the attributes of an object

In [4]:
# dir(a)

### Class anatomy: attributes and methods

#### A basic class

In [5]:
# an empty class
class Customer:
    pass

In [6]:
# we can already create objects of the calss
c1 = Customer()
c2 = Customer()

In [7]:
type(c1)

__main__.Customer

#### A class with a method

- a method defintion is a function definition within class
- use `self` as the first argument in every method definition
    - ignore `self` when calling the method

In [8]:
class Customer:

    def identify(self, name):
        print("I am customer " + name)

In [9]:
c3 = Customer()
type(c3)

__main__.Customer

In [10]:
# ignore `self` when calling the method
c3.identify('Paul')

I am customer Paul

#### What is `self`?

- Classes are templates
    - Objects of a class don't yet exist when a class is being defined
    - but we often need a way to refer to the data of a particular object within a class definition
        - that is the purpose of `self`: as a stand-in for the future object
        - we can use `self` to access attributes and call other methods from within the class definition even when no objects exist yet
        - Python will handle `self` when the method is called from an object using dot syntax
            - In fact using **object-dot-method** is equivalent to passing that object as an argument 
            - that's whey we don't specify it explicitly when calling the method from an existing object
            - `cust.identify("Paul")` will be interpreted as `Customer.identify(cust, "Paul")`

#### We need attributes

- **Encapsulation**: bundling data with methods that operate on that data
- **attributes** are created by assignment, `=`, in methods
- we can access this attribute with dot syntax: `cust.name`

In [11]:
class Customer:
    # set the name attribute of an object
    def set_name(self, new_name):
        self.name = new_name 
        # will create `name` when set_name is called
        #   `name` will not appear in the dir() list 
        #   until `set_name` is called

In [12]:
c4 = Customer()

In [13]:
type(c4)

__main__.Customer

In [14]:
c4.set_name("Paul")

In [15]:
c4.name

'Paul'

In [16]:
class Customer:
    def set_name(self, new_name):
        self.name = new_name

    def identify(self):
        print("I am customer " + self.name)

In [17]:
c5 = Customer()

c5.set_name("Paul")
c5.identify()

I am customer Paul

In [18]:
c5.name = "Carlos"

In [19]:
c5.identify()

I am customer Carlos

In [20]:
c6 = Customer()
c6.name = "Kim"

In [21]:
c6.identify()

I am customer Kim

#### Create your first class

In [22]:
class Employee:
    
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary

    def give_raise(self, amount):
        self.salary += amount

    def monthly_salary(self):
        return self.salary / 12

emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

print(emp.name, emp.salary)

emp.salary += 1500

print(emp.salary)
print(emp.monthly_salary())

Korel Rossi 50000
51500
4291.666666666667

### Class anatomy: the `__init__` constructor

#### Constructor

- Add data to object when creating it
- **Constructor** `__init__` method is called every time an object is created
- the `__init__` constructor is also a good place to set default values for attributes
- it is a best practice to define all attributes in the constructor
    - makes code more useable and maintainable

In [23]:
class Customer:
    def __init__(self, name):
        self.name = name
        print("The __init__ method was called")

In [24]:
c7 = Customer('Paul')

The __init__ method was called

In [25]:
c7.name

'Paul'

In [26]:
class Customer:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        print("The __init__ method was called")

In [27]:
c8 = Customer("Bobby", 100000)

The __init__ method was called

In [28]:
c8.name, c8.salary

('Bobby', 100000)

In [29]:
# a __init__ constructor sets default value
class Customer:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance 
        print("The __init__ method was called")

In [30]:
c9 = Customer("Paul")
c9.name, c9.balance

The __init__ method was called

('Paul', 0)

In [31]:
c10 = Customer("Jane", 100)
c10.name, c10.balance

The __init__ method was called

('Jane', 100)

#### Best Practices

1. Initialize attributes in `__init__()`
2. Naming
    - `CamelCase` for classes
    - `lower_snake_case` for functions and attributes
3. Keep `self` as `self`
    - the choice of `self` is only a convention, any other name can be used, but that would be confusing
4. Use docstrings
    - classes, like functions, allow for docstrings
    - use them because they are displayed when `help()` is called on the object

In [32]:
class MyClass:
    """I am a docstring"""
    pass

#### Add a class constructor

In [33]:
from datetime import datetime

class Employee:

    def __init__(self, name, salary=0):
        self.name = name
        
        if salary > 0:
          self.salary = salary
        else:
          self.salary = 0
          print("Invalid salary!")
          
        self.hire_date = datetime.today()
    
    def give_raise(self, amount):
        self.salary += amount

    def monthly_salary(self):
        return self.salary/12

In [34]:
emp = Employee("Korel Rossi")
print(emp.name, emp.salary, emp.hire_date)

Invalid salary!
Korel Rossi 0 2023-01-08 19:58:13.581057

In [35]:
emp2 = Employee("Paul", 100)
print(emp2.name, emp2.salary, emp.hire_date)

Paul 100 2023-01-08 19:58:13.581057

In [36]:
emp3 = Employee("Carlos", -10)
print(emp3.name, emp3.salary, emp.hire_date)

Invalid salary!
Carlos 0 2023-01-08 19:58:13.581057

#### Write a class from scratch

In [37]:
class Point:

    def __init__(self, x=0.0, y=0.0):
        self.x = x
        self.y = y 

    def distance_to_origin(self):
        return (self.x**2 + self.y**2) ** (1/2)

    def reflect(self, axis):
        if axis == "x":
            self.y = -self.y 
        elif axis == "y":
            self.x = -self.x 
        else:
            print("Error: axis is invalid")

In [38]:
pt = Point(x=3.0)
pt.reflect("y")
print(pt.x, pt.y)
pt.y = 4.0
print(pt.distance_to_origin())

-3.0 0.0
5.0

## Inheritance and Polymorphism

### Instance and class data

In [39]:
class Employee:
    # A class attribute
    MIN_SALARY = 30000 # <--- no `self`

    def __init__(self, name, salary):
        self.name = name

        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY
    
emp1 = Employee('Teo Mille', 50000)
emp2 = Employee('Marta Popov', 20000)

display(emp1.name, emp1.salary, emp1.MIN_SALARY)
display(emp2.name, emp2.salary, emp2.MIN_SALARY)

'Teo Mille'

50000

30000

'Marta Popov'

30000

30000

#### Instance-level data

- In the code above, `name` and `salary` are **instance attributes**
- `self` binds to an instance

#### Class-level data

- In the code above, `MIN_SALARY` is a **class attribute**
- Data shared among all instances of a class
- Define class attributes in the body of a class
- This is also a **global variable** within the class
- Note that we don't use `self` to define class attributes
- We can use the class name to access these attributes

#### Why use class attributes? (Global constants related to the class)

- used for minimal or maximal values for attributes
- for commonly used values and constants
    - `pi` might be used in a `Circle` class

#### Class methods

- Regular methods are already shared between instances
    - The same code gets executed for every instance
    - The only difference is the data that is fed into it
- It is possible to define methods bound to class rather than instances
    - But these methods have a narrow application scope because they are not able to use any instance-level data
    - To do this start with a `@classmethod` decorator
    - Instead of `self`, use `cls`
    - To call these methods, use **class-dot-method** syntax rather that **object-dot-method** syntax

In [40]:
class MyClass:

    @classmethod
    def my_awesome_method(cls, word):
        # can't use any instance attributes
        print(word)

In [41]:
MyClass.my_awesome_method("hello")

hello

In [42]:
mc = MyClass()

In [43]:
mc.my_awesome_method("goodbye")

goodbye

#### Alternative constructors

- Alternative constructors are the main use case for class methods
- A class can only have one `__init__` method, but there might be multiple ways to initialize an object

In [44]:
import base64
import requests

class Employee:
   
    MIN_SALARY = 30000

    def __init__(self, name, salary):
        self.name = name

        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY

    # we can't use a regular method for an alternate 
    #   constructor, because an object has not
    #   been created yet
    @classmethod 
    def from_file(cls, filename):
        req = requests.get(filename)
        name = req.text
        # the cls in the next line refers to the class
        #  so it will call the `__init__` constructor
        return cls(name, 70000)

In [45]:
path = 'https://raw.githubusercontent.com/PaulToronto/'
path += 'Math-and-Data-Science-Reference/main/'
path += 'files/myfile.txt'

In [46]:
emp1 = Employee("Paul", 60000)
emp2 = Employee.from_file(path)
print(emp1.name, emp1.salary)
print(emp2.name, emp2.salary)

Paul 60000
Carlos 70000

#### Class-level attributes

In [47]:
# Create a Player class
#  - that has a class attribute MAX_POSITION 
#    with value 10
#  - and an __init__ method that sets the 
#    position instance to 0
class Player:

    MAX_POSITION = 10
    MAX_SPEED = 3

    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else:
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console    
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

In [48]:
# Print Player.MAX_POSITION       
print(Player.MAX_POSITION)

# Create a player p and print its MAX_POSITITON
p = Player()
print(p.MAX_POSITION)

10
10

In [49]:
p.draw()

|----------

In [50]:
p.move(4)
p.draw()

----|------

In [51]:
p.move(1)
p.draw()

-----|-----

In [52]:
p.move(4)
p.draw()

---------|-

In [53]:
p.move(3)
p.draw()

----------|

#### Changing class attributes

In [54]:
# Create Players p1 and p2
p1 = Player()
p2 = Player()

print("MAX_SPEED of p1 and p2 before assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

# Assign 7 to p1.MAX_SPEED
p1.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

print("MAX_SPEED of Player:")
# Print Player.MAX_SPEED
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
3
MAX_SPEED of Player:
3

##### What happened?

Python created a new instance attribute in `p1`, also called it `MAX_SPEED`, and assigned `7` to it, without touching the class attribute.

In [55]:
p1, p2 = Player(), Player()

print("MAX_SPEED of p1 and p2 before assignment:")
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

# ---THIS LINE WAS MODIFIED--- 
Player.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

print("MAX_SPEED of Player:")
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
7
MAX_SPEED of Player:
7

Not obvious, right? But it makes sense, when you think about it! You shouldn't be able to change the data in all the instances of the class through a single instance. Imagine if you could change the time on all the computers in the world by changing the time on your own computer! If you want to change the value of the class attribute at runtime, you need to do it by referring to the class name, not through an instance.

#### Alternative constructors

In [56]:
class BetterDate:    
    # Constructor
    def __init__(self, year, month, day):
      # Recall that Python allows multiple variable assignments in one line
      self.year, self.month, self.day = year, month, day
    
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
        # Split the string at "-" and convert each part to integer
        year, month, day = map(int, datestr.split("-"))
        # Return the class instance
        return cls(year, month, day)

    # Define a class method from_datetime accepting a datetime object
    @classmethod
    def from_datetime(cls, datetimeobj):
        year, month, day = datetimeobj.year, datetimeobj.month, datetimeobj.day
        return cls(year, month, day)

In [57]:
bd1 = BetterDate(2020, 4, 30)
print(bd1.year, bd1.month, bd1.day)

2020 4 30

In [58]:
bd2 = BetterDate.from_str('2020-04-30')
print(bd2.year, bd2.month, bd2.day)

2020 4 30

In [59]:
today = datetime.today()
bd3 = BetterDate.from_datetime(today)
print(bd3.year, bd3.month, bd3.day)

2023 1 8

### Class inheritance

- OOP is fundamentally about code reuse
- Modules are great for fixed functionality
- OOP is great for cutomizing functionality
- You may find yourself writing the same code repeatedly

#### Inheritance

- `New class functionality = Old class functionality + extra`
- **Class inheritance** is a mechanisim by which we can define a new class that gets all the functionality of another class plus something extra
    - without re-implementing the code

##### Example

- `BankAccount` class
    1. `balance` attribute
    2. `withdraw()` method
- `SavingsAccount` class
    1. has what a `BankAccount` class has, plus
    2. `interest_rate` attribute
    3. `compute_interest()` method
- `ChequingAccount` class
    1. has what a `BankAccount` class has, plus
    2. `limit` attribute
    3. `deposit()` method
    4. the `withdraw()` class is a modified version of the same method in the `BankAccount` class, maybe it charges a fee for withdrawals

It makes sense to reuse the code in the `BankAccount` class when create the `SavingsAccount` and `ChequingAccount` classes

In [60]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

# Empty class inherited from BankAccount
class SavingsAccount(BankAccount):
    pass

##### Child class

- The child class has all of the parent data
- This is because a `SavingsAccount` **is a** `BankAccount`
    - Inheritance: "is-a" relationship

In [61]:
savAcc = SavingsAccount(1000)
type(savAcc)

__main__.SavingsAccount

In [62]:
print(savAcc.balance)
savAcc.withdraw(100)
print(savAcc.balance)

1000
900

##### Inheritance: "is-a" relationship

In [63]:
isinstance(savAcc, SavingsAccount), isinstance(savAcc, BankAccount)

(True, True)

In [64]:
acc = BankAccount(100)
type(acc)

__main__.BankAccount

In [65]:
isinstance(acc, SavingsAccount), isinstance(acc, BankAccount)

(False, True)

#### Understanding inheritance

In [66]:
class Counter:
    def __init__(self, count):
        self.count = count

    def add_counts(self, n):
        self.count += n

class Indexer(Counter):
    pass

In [67]:
ind = Indexer(10)

In [68]:
ind.count

10

In [69]:
ind.add_counts(5)
ind.count

15

#### Create a subclass

In [70]:
class Employee:
  MIN_SALARY = 30000    

  def __init__(self, name, salary=MIN_SALARY):
      self.name = name
      if salary >= Employee.MIN_SALARY:
        self.salary = salary
      else:
        self.salary = Employee.MIN_SALARY
        
  def give_raise(self, amount):
      self.salary += amount

In [71]:
class Manager(Employee):
    def display(self):
        print("Manager " + self.name)

In [72]:
mng = Manager("Debbie Lashko", 86500)

In [73]:
mng.name, mng.salary

('Debbie Lashko', 86500)

In [74]:
mng.display()

Manager Debbie Lashko

### Customizing functionality via inheritance

In [75]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

# Empty class inherited from BankAccount
class SavingsAccount(BankAccount):
    # constructor specifically for SavingsAccount with additional parameter
    def __init__(self, balance, interest_rate):
        # call the parent constructor
        BankAccount.__init__(self, balance)
        # add more functionality
        self.interest_rate = interest_rate

    # new functionality
    def compute_interest(self, n_periods = 1):
        return self.balance * ((1 + self.interest_rate) ** n_periods - 1)

In [76]:
sav = SavingsAccount(500, 0.03)
sav.balance, sav.interest_rate

(500, 0.03)

In [77]:
sav.withdraw(50)
sav.balance

450

In [78]:
sav.compute_interest()

13.500000000000012

In [79]:
sav.compute_interest(10)

154.762370704855

In [80]:
class CheckingAccount(BankAccount):
    def __init__(self, balance, limit):
        BankAccount.__init__(self, balance)
        self.limit = limit 
    
    def deposit(self, amount):
        self.balance += amount

    # we can change the signature of the parent withdraw method
    # we use `Parent.method_name(self, args...) to call the parent method
    def withdraw(self, amount, fee=0):
        if fee <= self.limit:
            BankAccount.withdraw(self, amount - fee)
        else:
            BankAccount.withdraw(self, amount - self.limit)

In [81]:
check_acct = CheckingAccount(1000, 25)
reg_acct = BankAccount(1000)

check_acct.balance, reg_acct.balance

(1000, 1000)

In [82]:
check_acct.withdraw(100)
reg_acct.withdraw(100)

# note that the interface of the call is the same
# - but the actual method is determined by the 
#   instance class
#    - this is an application of polymorphism
check_acct.balance, reg_acct.balance

(900, 900)

In [83]:
check_acct.withdraw(100, fee=10)
check_acct.balance

810

In [84]:
# error
# reg_acct.withdraw(100, fee=10)

#### Method inheritance

Add a constructor to Manager that:

- accepts `name`, `salary` (default `50000`), and project (default `None`)
- calls the constructor of the `Employee` class with the `name` and `salary` parameters,
- creates a project attribute and sets it to the project parameter.

Add a `give_raise()` method to `Manager` that:

- accetps the same parameters as `Employee.give_raise()`, plus a `bonus` parameter with a default value of `1.05` (bonus of 5%)
- multiplies `amount` by `bonus`
- uses the `Employee`'s method to rais salary by that product

In [85]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

        
class Manager(Employee):
  # Add a constructor 
    def __init__(self, name, salary=50000, project=None):

        # Call the parent's constructor   
        Employee.__init__(self, name, salary)

        # Assign project attribute
        self.project = project  

    # add a give_raise method
    def give_raise(self, amount, bonus=1.05):
        Employee.give_raise(self, amount * bonus)

  
    def display(self):
        print("Manager ", self.name)

In [86]:
mngr = Manager("Paul", 100_000)
mngr.display()

Manager  Paul

In [87]:
mngr = Manager('Ashta Dunbar', 78500)
mngr.give_raise(1000)
print(mngr.salary)
mngr.give_raise(2000, bonus=1.03)
print(mngr.salary)

79550.0
81610.0

#### Inheritance of class attributes

In [88]:
class Player:

    MAX_POSITION = 10
    MAX_SPEED = 3

    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else:
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console    
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

In [89]:
# Create a Racer class and set MAX_SPEED to 5
class Racer(Player):
    
    MAX_SPEED = 5
 
# Create a Player and a Racer objects
p = Player()
r = Racer()

print("p.MAX_SPEED = ", p.MAX_SPEED)
print("r.MAX_SPEED = ", r.MAX_SPEED)

print("p.MAX_POSITION = ", p.MAX_POSITION)
print("r.MAX_POSITION = ", r.MAX_POSITION)

p.MAX_SPEED =  3
r.MAX_SPEED =  5
p.MAX_POSITION =  10
r.MAX_POSITION =  10

In [90]:
p.position, r.position

(0, 0)

#### Customizing a DataFrame

In [91]:
# Import pandas as pd
import pandas as pd

# Define LoggedDF inherited from pd.DataFrame and add the constructor
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self.created_at = datetime.today()

    def to_csv(self, *args, **kwargs):
        # copy self to a temporary DataFrame
        temp = self.copy()
        
        temp['created_at'] = self.created_at

        return pd.DataFrame.to_csv(temp, *args, **kwargs)
    
    
ldf = LoggedDF({"col1": [1,2], "col2": [3,4]})
print(ldf.values)
print(ldf.created_at)

[[1 3]
 [2 4]]
2023-01-08 19:58:15.928845

In [92]:
ldf

   col1  col2
0     1     3
1     2     4

In [93]:
csv_data = ldf.to_csv()

In [94]:
print(csv_data)

,col1,col2,created_at
0,1,3,2023-01-08 19:58:15.928845
1,2,4,2023-01-08 19:58:15.928845

## Integrating with Standard Python

### Operator overloading: comparison

#### Object equality

In [95]:
# `id` uniquely identifies a customer
class Customer:
    def __init__(self, name, balance, id):
        self.name, self.balance = name, balance
        self.id = id

customer1 = Customer("Maryam Azar", 3000, 123)
customer2 = Customer("Maryam Azar", 3000, 123)

In [96]:
customer1 == customer2

False

In [97]:
# - these are distinct objects storted in 2 separate locations
# - these variables, `customer1` and `customer2` contain
#   references to the memory chunks where they are stored
customer1, customer2

(<__main__.Customer at 0x7f0671e2d910>, <__main__.Customer at 0x7f0671e2db80>)

In [98]:
array1 = np.array([1, 2, 3])
array2 = np.array([1, 2, 3])

array1, array2

(array([1, 2, 3]), array([1, 2, 3]))

In [99]:
array1 == array2 # compared using their data, not references

array([ True,  True,  True])

#### Overloading `__eq__()`

In [100]:
class Customer:
    def __init__(self, id, name):
        self.id, self.name = id, name 

    # will be called when `==` is used
    def __eq__(self, other):
        # diagnostic printout
        print("__eq__() is called")

        return (self.id == other.id) and \
         (self.name == other.name)

In [101]:
customer1 = Customer(123, "Maryan Azar")
customer2 = Customer(123, "Maryan Azar")

customer1 == customer2

__eq__() is called

True

In [102]:
customer1 = Customer(123, "Maryan Azar")
customer2 = Customer(456, "Maryan Azar")

customer1 == customer2

__eq__() is called

False

#### Other comparison operators

- `==`: `__eq__()`
- `!=`: `__ne__()`
- `>=`: `__ge__()`
- `<=`: `__le__()`
- `>`:  `__gt__()`
- `<`:  `__lt__()`

#### `__hash__()`

- to use objects as dictionary keys and in sets
- it is beyond the scope of this course
    - briefly:
        - it should assign an integer to an object such that equal objects have equal hashes
        - the object hash does not change throughout the object's lifetime

#### Overloading equality

In [103]:
class BankAccount:
   # MODIFY to initialize a number attribute
    def __init__(self, number, balance=0):
        self.number = number
        self.balance = balance
      
    def withdraw(self, amount):
        self.balance -= amount 
    
    # Define __eq__ that returns True if the number attributes are equal 
    def __eq__(self, other):
        return self.number == other.number   

# Create accounts and compare them       
acct1 = BankAccount(123, 1000)
acct2 = BankAccount(123, 1000)
acct3 = BankAccount(456, 1000)
print(acct1 == acct2)
print(acct1 == acct3)

True
False

Notice that the `__eq__()` method compares just the account numbers, but not balances. What would happen if two accounts have the same account number but different balances? The code you wrote will treat these accounts as equal, but it might be better to throw an error - an `_exception_` - instead, informing the user that something is wrong. At the end of the chapter, you'll learn how to define your own exception classes to create these kinds of custom errors.

#### Checking class equality

- What is the objects are not from the same class?

In [104]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
      
    def withdraw(self, amount):
        self.balance -= amount 

    # MODIFY to add a check for the type()
    def __eq__(self, other):
        return (self.number == other.number)

In [105]:
class Phone:
    def __init__(self, number):
        self.number = number

In [106]:
acct = BankAccount(8735553333)
pn = Phone(8735553333)

In [107]:
acct == pn

True

In [108]:
pn == acct

True

##### Modified version makes more sense

In [109]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
      
    def withdraw(self, amount):
        self.balance -= amount 

    # MODIFY to add a check for the type()
    def __eq__(self, other):
        return (self.number == other.number) and \
            (type(self) == type(other))

In [110]:
acct = BankAccount(8735553333)
pn = Phone(8735553333)

In [111]:
acct == pn

False

In [112]:
pn == acct

False

#### Comparison and inheritance

What happens when an object is compared to an object of a child class?

- Python always calls the child's __eq__() method when comparing a child object to a parent object.

In [113]:
class Parent:
    def __eq__(self, other):
        print("Parent's __eq__() called")
        return True

class Child(Parent):
    def __eq__(self, other):
        print("Child's __eq__() called")
        return True

In [114]:
p = Parent()
c = Child()

In [115]:
p == c

Child's __eq__() called

True

In [116]:
c == p

Child's __eq__() called

True

### Operator overloading: string representation

#### Printing an object

In [117]:
class Customer:
    def __init__(self, name, balance):
        self.name, self.balance = name, balance

cust = Customer("Maryam Azar", 3000)
print(cust)

<__main__.Customer object at 0x7f0671de4a60>

In [118]:
arr = np.array([1, 2, 3])
print(arr) # prints the actual data

[1 2 3]

In [119]:
repr(arr)

'array([1, 2, 3])'

In [120]:
arr

array([1, 2, 3])

In [121]:
str(arr)

'[1 2 3]'

##### Two special methods: `__str__()` and `__repr__()`

- `__str__()`
    - used with `print(obj)` and `str(obj)`
    - *informal*, for end user
    - user friendly string representation
- `__repr__()`
    - used with `repr(obj)`, printing in console
    - *formal*, for developer
    - best practice, returns a string that can be used to *reproduce the object*
    - if implementing only one of `_str__()` and `__repr__()`, choose `__repr__()` because it is used as a fall-back for `print` when `__str__()` is not defined

##### Implementation: `__str__()`

In [122]:
class Customer:
    def __init__(self, name, balance):
        self.name, self.balance = name, balance

    def __str__(self):
        cust_str = """
Customer:
    name: {name}
    balance: {balance}
        """.format(name = self.name, 
                   balance = self.balance)
        return cust_str

cust = Customer("Maryam Azar", 3000)
print(cust)

Customer:
    name: Maryam Azar
    balance: 3000

In [123]:
cust # __repr__() not implemented

##### Implementation: `__repr__()`

In [124]:
class Customer:
    def __init__(self, name, balance):
        self.name, self.balance = name, balance

    def __repr__(self):
        # Notice the '' around name
        return "Customer('{name}', {balance})".format(name = self.name,
                                                     balance = self.balance)

cust = Customer("Maryam Azar", 3000)
print(cust) # __str__() not implemented, __repr__ is the fall-back for print

Customer('Maryam Azar', 3000)

In [125]:
cust

Customer('Maryam Azar', 3000)

In [126]:
test = Customer('Maryam Azar', 3000)

In [127]:
type(test)

__main__.Customer

#### String representation of objects

In [128]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name, self.salary = name, salary
            
    # Add the __str__() method
    def __str__(self):
        s = "Employee name: {name}\nEmployee Salary: {salary}".format(
            name = self.name, 
            salary = self.salary)
        return s

    # Add the __repr__() method
    def __repr__(self):
        return "Employee('{name}', {salary})".format(
            name = self.name,
            salary = self.salary
        )

In [129]:
emp1 = Employee("Amar Howard", 30000)
print(emp1)
emp2 = Employee("Carolyn Ramirez", 35000)
print(emp2)

Employee name: Amar Howard
Employee Salary: 30000
Employee name: Carolyn Ramirez
Employee Salary: 35000

In [130]:
emp1

Employee('Amar Howard', 30000)

### Exceptions

#### Exception handling

- Prevent the program from terminating when an exception is raised
- `try` - `except` - `finally`:

In [131]:
try:
    # Try running some code
    pass
except ExceptionNameHere:
    # run this code if ExceptionNameHere happens
    pass
except AnotherExceptionHere:
    # run this code if AnotherExceptionHere happens
    pass
finally: # <- optional
    # run this code no matter what
    # this code is best used for cleaning up
    pass

#### Raising exceptions

- sometimes you want to raise an exception yourself
    - for example, when conditions are not met
- the user of this code can then decide to handle the exception
- `raise ExceptionNameHere('Error message here')`

In [132]:
def make_list_of_ones(length):
    if length <= 0:
        raise ValueError('Invalid length')
    return [1] * length

In [133]:
make_list_of_ones(3)

[1, 1, 1]

In [134]:
# make_list_of_ones(0)

# ValueError: Invalid length

#### Exceptions are classes

- standard exceptions are inherited from `BaseException` or `Exception`
- https://docs.python.org/3/library/exceptions.html

#### Custom exceptions

- inherit from `Exception` or one of its subclasses
- usually an empty class
    - inheritance alone will often give the class what it needs

In [135]:
class BalanceError(Exception): pass

In [136]:
class Customer:
    def __init__(self, name, balance):
        if balance < 0:
            raise BalanceError("Balance has to be non-negative")
        else:
            self.name, self.balance = name, balance

In [137]:
# cust = Customer("Paul", -30000)

# BalanceError: Balance has to be non-negative

In [138]:
try:
    cust = Customer("Larry Torres", -100)
except BalanceError:
    cust = Customer("Larry Torres", 0)

In [139]:
cust.name, cust.balance

('Larry Torres', 0)

#### Catching exceptions

In [140]:
# MODIFY the function to catch exceptions
def invert_at_index(x, ind):
    try: 
        return 1/x[ind]
    except ZeroDivisionError:
        print("Cannot divide by zero!")
    except IndexError:
        print("Index out of range!")
 
a = [5,6,0,7]

# Works okay
print(invert_at_index(a, 1))

# Potential ZeroDivisionError
print(invert_at_index(a, 2))

# Potential IndexError
print(invert_at_index(a, 5))

0.16666666666666666
Cannot divide by zero!
None
Index out of range!
None

#### Custom Exceptions (Exercises)

In [141]:
# Define SalaryError inherited from ValueError
class SalaryError(ValueError): pass

# Define BonusError inherited from SalaryError
class BonusError(SalaryError): pass

In [142]:
class Employee:
  MIN_SALARY = 30000
  MAX_BONUS = 5000

  def __init__(self, name, salary = 30000):
    self.name = name
    
    # If salary is too low
    if salary < Employee.MIN_SALARY:
      # Raise a SalaryError exception
      raise SalaryError("Salary is too low!")
      
    self.salary = salary

  # Rewrite using exceptions  
  def give_bonus(self, amount):
    if amount > Employee.MAX_BONUS:
       raise BonusError("The bonus amount is too high!")  
        
    elif self.salary + amount <  Employee.MIN_SALARY:
       raise SalaryError("The salary after bonus is too low!")

In [143]:
emp = Employee("Katze Rik", salary=50000)

In [144]:
# in this example, the bonus amount is too high
# but BonusError inherits from salary error
# *except block for a parent exception will catch child exceptions*
try:
    emp.give_bonus(7000)
except SalaryError:
    print("Salary error caught!")

Salary error caught!

In [145]:
try:
  emp.give_bonus(7000)
except BonusError:
  print("BonusError caught!")

BonusError caught!

In [146]:
# salary after bonus is too low
try:
  emp.give_bonus(-100000)
except SalaryError:
  print("SalaryError caught again!")

SalaryError caught again!

In [147]:
# a BonusError is a SalaryError due to inheritance
# but a SalaryError is not a BonusError

#try:
#  emp.give_bonus(-100000)
#except BonusError:
#  print("BonusError caught again!")

- It's better to include an `except` block for a child exception before the block for a parent exception, otherwise the child exceptions will be always be caught in the parent block, and the `except` block for the child will never be executed.
- Compare the next two cells:

In [148]:
emp = Employee("Katze Rik", 50000)
try:
  emp.give_bonus(7000)
except SalaryError:
  print("SalaryError caught")
except BonusError:
  print("BonusError caught")

SalaryError caught

In [149]:
emp = Employee("Katze Rik", 50000)
try:
  emp.give_bonus(7000)
except BonusError:
  print("BonusError caught")
except SalaryError:
  print("SalaryError caught")

BonusError caught

## Best Practices of Class Design

### Designing for inheritance and polymorphism

#### Polymorphism

- Using a unified interface to operate on objects of different classes

#### All that matters is the interface

- the function below doesn't care if the account passed to it is a checking account or a savings account
    - as long is the account has a `withraw()` method with the same signature
    - `batch_withdraw()` does not check which withdraw method it should call
    - when the method is actually called, Python will **dynamically** call the correct method

In [150]:
# withdraw amount from each of the acccounts in list_of_accounts
def batch_withdraw(list_of_accounts, amount):
    for acct in list_of_accounts:
        acct.withdraw(amount)

In [151]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

class SavingsAccount(BankAccount):
    # constructor specifically for SavingsAccount with additional parameter
    def __init__(self, balance, interest_rate):
        # call the parent constructor
        BankAccount.__init__(self, balance)
        # add more functionality
        self.interest_rate = interest_rate

    # new functionality
    def compute_interest(self, n_periods = 1):
        return self.balance * ((1 + self.interest_rate) ** n_periods - 1)

class CheckingAccount(BankAccount):
    def __init__(self, balance, limit):
        BankAccount.__init__(self, balance)
        self.limit = limit 
    
    def deposit(self, amount):
        self.balance += amount

    # we can change the signature of the parent withdraw method
    # we use `Parent.method_name(self, args...) to call the parent method
    def withdraw(self, amount, fee=0):
        if fee <= self.limit:
            BankAccount.withdraw(self, amount - fee)
        else:
            BankAccount.withdraw(self, amount - self.limit)

In [152]:
b, s, c = BankAccount(1000), SavingsAccount(2000, 0.5), CheckingAccount(3000, 
                                                                        limit=10)

In [153]:
batch_withdraw([b, s, c], 20)

In [154]:
b.balance, s.balance, c.balance

(980, 1980, 2980)

#### Liskov Substitution Principle (LSP)

Base class should be interchangeable with any of its subclasses without altering any properties of the program.

- Wherevver `BankAccount` works, `CheckingAcount` should work also
- this should be true in two ways:
    1. Syntactically
        - function signatures are compatible
            - arguments and returned values
    2. Semantically
        - the state of the object and the program remains consistent
            - the subclass method should not rely on stronger input conditions
            - should not provide weaker output conditions
            - should not throw additional exceptions
            - and so on

#### Violating LSP

- **Syntactic incompatiblility**
    - the parent's `withdraw()` method requires 1 parameter, but the child'd `withdraw()` method requires 2
    - this can be solved by providing a default value for the 2nd parameter in the child's `withdraw()` method
- **Subclass strengthening input conditions**
    - the parent's `withdraw()` method accepts any amount, but the child's `withdraw()` assumes the amount is limited
- **Subclass weaking output conditions**
    - the parent's `withdraw()` method can leave positive balance or cause an error, but the child's `withdraw()` method can leave a negative balance
- **Changing attributes in a subclass's method**
- **Throwing additional exceptions in subclass's method**

<br>

***If LSP is not possible, don't use inheritance!***

#### Polymorphic methods

In [155]:
class Parent:
    def talk(self):
        print("Parent talking!\n")     

class Child(Parent): 
    def talk(self):
        print("Child talking!\n")          

class TalkativeChild(Parent):
    def talk(self):
        print("TalkativeChild talking!")
        Parent.talk(self)


p, c, tc = Parent(), Child(), TalkativeChild()

for obj in (p, c, tc):
    obj.talk()

Parent talking!

Child talking!

TalkativeChild talking!
Parent talking!

Polymorphism ensures that the exact method called is determined dynamically based on the instance. What do you think would happen if `Child` did not implement `talk()`?

#### Square and Rectangle

In [156]:
# Define a Rectangle class
class Rectangle:
    def __init__(self, h, w):
        self.h = h
        self.w = w

# Define a Square class
class Square(Rectangle):
    def __init__(self, w):
        self.h = w
        self.w = w

In [157]:
s = Square(4)

In [158]:
s.w, s.h

(4, 4)

In [159]:
s.h = 7

- the next code cell shows that the square is no longer a square!

In [160]:
s.w, s.h

(4, 7)

The classic example of a problem that violates the Liskov Substitution Principle is the [**Circle-Ellipse problem**](https://en.wikipedia.org/wiki/Circle%E2%80%93ellipse_problem), sometimes called the **Square-Rectangle problem**.

In [161]:
class Rectangle:
    def __init__(self, w,h):
      self.w, self.h = w,h

# Define set_h to set h      
    def set_h(self, h):
      self.h = h
      
# Define set_w to set w          
    def set_w(self, w):
      self.w = w
      
      
class Square(Rectangle):
    def __init__(self, w):
      self.w, self.h = w, w 

# Define set_h to set w and h
    def set_h(self, h):
      self.h = h
      self.w = h

# Define set_w to set w and h      
    def set_w(self, w):
      self.h = w 
      self.w = w

The above example violates LSP:

- Each of the setter methods of `Square` change both `h` and `w` attributes, while setter methods of `Rectangle` change only one attribute at a time, so the `Square` objects cannot be substituted for `Rectangle` into programs that rely on one attribute staying constant.
- Remember that the substitution principle requires the substitution to preserve the oversall state of the program. An example of a program that would fail when this substitution is made is a unit test for a setter functions in `Rectangle` class.

### Managing data access: private attributes

- In Python, all class data is technically public
    - any **attribute** or **method** can be accessed by anyone
    - for Java programmers, this may seem unusual or an oversight
        - but it is by design

#### Restricting access

- While all data is public, there are a few ways to manage access to data
    1. Universal naming conventions to signal that data is not for external consumption
    2. Specal kinds of **attributes** called **properties** that allow you to control how each attribute is modified
        - use `@property` to customize access
    3. Special methods that you can override to change how attributes are used entirely
        - `__getattr__()` and `__setattr__()`
- this course covers the first 2 only

#### Naming convention: internal attributes

1. Using a single leading underscore to indicate **internal** attribute or method
    - `obj._attribute_name` and `obj._method_name()`
    - these are not part of the public API
        - can change without notice
2. Using a leading double undersscore to indicate **pseudoprivate** attribute or method
    - `obj__attr_name` and `obj.__method_name()`
    - note those start with `__` but don't end with `__`
    - these are **not inherited**
        - because Python implements **name mangling**
            - `obj__attr_name` is interpreted as `obj._MyClass__attr_name`
            - used to prevent name clashes in inherited classes
            - used to protect important attributes and methods that should not be overridden

##### Example of using a leading underscore to indicate an internal attribute

In [162]:
df = pd.DataFrame({'Age': [30, 40], 'Gender': ["M", "F"]})
df

   Age Gender
0   30      M
1   40      F

In [163]:
df._is_mixed_type

True

##### Summary

- a single leading underscore is a convention for internal details of implementation
- double leading underscore is a convention for attribues that should not be inherited to avoid name clashes in child classes
- leading **and** trailing underscore: reserved for built-in methods

#### Using internal attributes

In [164]:
# Add class attributes for max number of days and months
class BetterDate:
    _MAX_DAYS = 30
    _MAX_MONTHS = 12
    
    def __init__(self, year, month, day):
        self.year, self.month, self.day = year, month, day
        
    @classmethod
    def from_str(cls, datestr):
        year, month, day = map(int, datestr.split("-"))
        return cls(year, month, day)

    # Add _is_valid() checking day and month values
    def _is_valid(self):
        return (self.day <= BetterDate._MAX_DAYS) and \
        (self.month <= BetterDate._MAX_MONTHS)
    
bd1 = BetterDate(2020, 4, 30)
print(bd1._is_valid())

bd2 = BetterDate(2020, 6, 45)
print(bd2._is_valid())

True
False

Notice that you were still able to use the `_is_valid()` method as usual. The single underscore naming convention is purely a convention, and Python doesn't do anything special with such attributes and methods behind the scenes. That convention is widely followed, though, so if you see an attribute name with one leading underscore in someone's class - don't use it! The class developer trusts you with this responsibility.

### Properties

- **Properties** are a special kind of attribute that allow customized access
- implemented using the `@property` decorator

#### An example of a property in `pandas`

In [165]:
df = pd.DataFrame({"colA": [1, 2], "colB": [3, 4]})
df

   colA  colB
0     1     3
1     2     4

In [166]:
df.columns = ["A", "B"]
df

   A  B
0  1  3
1  2  4

In [167]:
# df.columns = ["A", "B", "C"]


# ValueError: Length mismatch: Expected axis has 2 elements, 
#             new values have 3 elements

#### `@property` decorator

In [168]:
class Employer:

    def __init__(self, name, new_salary):
        # use "protected" attribute with leading _ to store data
        self._salary = new_salary

    # - use @property on a **method** whose name
    #   is exactly tne name of the restricted attribute
    # - return the internal attribute
    @property
    def salary(self):
        return self._salary

    # to customize how the attribute is set
    # - use `@attr.setter` on a method `attr()`
    #   that will be called on `obj.attr = value`
    @salary.setter
    def salary(self, new_salary):
        print("Im inside the salary.setter")
        if new_salary < 0:
            raise ValueError("Invalid salary")
        else:
            self._salary = new_salary

In [169]:
emp = Employer("Paul", 10000)
emp.salary

10000

In [170]:
emp.salary = 30000

Im inside the salary.setter

In [171]:
emp.salary

30000

In [172]:
# it is an honour system
emp._salary = -40000
emp.salary

-40000

Note that if you don't define a `.setter`, the attribute will be read only, which is often desirable.

There are other decorators for properties:

- `@attr.getter`: use for the method that is called when the property's *value is retrieved*
- `@attr.deleter`: use for the method that is called when the propert is deleted using `del`

#### Create and set properties

There are two parts to defining a property:

1. Define an "internal" attribute that will contain the data
2. Define `@property` decorated method is name is the **property name** and that returns the internal attribute that stores the data

Optionally:

3. Define other methods that have two parameters (self, value):
    - `@prop_name.setter`
    - `@prop_name.getter`
    - `@prop_name.deleter`

In [173]:
# Create a Customer class
class Customer:
    def __init__(self, name, new_bal):
        self.name = name
        if new_bal < 0:
            raise ValueError("Invalid balance!")
        self._balance = new_bal

    # Add a decorated balance() method returning _balance
    @property
    def balance(self):
        return self._balance

    # Add a setter balance() method
    @balance.setter
    def balance(self, new_bal):
        # Validate the parameter value
        if new_bal < 0:
           raise ValueError("Invalid balance!")
        self._balance = new_bal
        print("Setter method called")

In [174]:
cust = Customer("Belinda Lutz", 2000)

In [175]:
cust.balance

2000

In [176]:
cust.balance = 3000

Setter method called

In [177]:
cust.balance

3000

#### Further study:

- [Data classes](https://realpython.com/python-data-classes/), since Python 3.7