<a href="https://colab.research.google.com/github/PaulToronto/DataCamp-Courses/blob/main/Object_Oriented_Programming_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Object-Oriented Programming in Python

This notebook contains my notes from a DataCamp course:

[Object-Oriented Programming in Python](https://app.datacamp.com/learn/courses/object-oriented-programming-in-python)

## OOP Fundamentals

### What is OOP?

- Procedural programming
    - Code as a sequence of steps
    - Great for data analysis
- Object-oriented programming
    - Code as interactions of objects
    - Great for building frameworks and tools
    - Maintainable and reusable code

#### Objects as data structures

- Objects incorportate 
    1. state
    2. behaviour
- **Encapsulation** 
    - bundles state and behaviour together

#### Classes as blueprints

- **Class**
    - blueprint for objects outlining possible states and behaviour

#### Objects in Python

- Everything in Python is an object
- Every object has a class
- Use `type()` to find the class

In [1]:
import numpy as np
a = np.array([1, 2, 3, 4])
type(a)

numpy.ndarray

#### Attributes and methods

- state information is contained in **attributes**
- behaviour information is contained in **methods**

In [2]:
# attribute
a.shape

(4,)

In [3]:
# method
a.reshape(2, 2)

array([[1, 2],
       [3, 4]])

#### List all the attributes of an object

In [4]:
# dir(a)

### Class anatomy: attributes and methods

#### A basic class

In [5]:
# an empty class
class Customer:
    pass

In [6]:
# we can already create objects of the calss
c1 = Customer()
c2 = Customer()

In [7]:
type(c1)

__main__.Customer

#### A class with a method

- a method defintion is a function definition within class
- use `self` as the first argument in every method definition
    - ignore `self` when calling the method

In [8]:
class Customer:

    def identify(self, name):
        print("I am customer " + name)

In [9]:
c3 = Customer()
type(c3)

__main__.Customer

In [10]:
# ignore `self` when calling the method
c3.identify('Paul')

I am customer Paul

#### What is `self`?

- Classes are templates
    - Objects of a class don't yet exist when a class is being defined
    - but we often need a way to refer to the data of a particular object within a class definition
        - that is the purpose of `self`: as a stand-in for the future object
        - we can use `self` to access attributes and call other methods from within the class definition even when no objects exist yet
        - Python will handle `self` when the method is called from an object using dot syntax
            - In fact using **object-dot-method** is equivalent to passing that object as an argument 
            - that's whey we don't specify it explicitly when calling the method from an existing object
            - `cust.identify("Paul")` will be interpreted as `Customer.identify(cust, "Paul")`

#### We need attributes

- **Encapsulation**: bundling data with methods that operate on that data
- **attributes** are created by assignment, `=`, in methods
- we can access this attribute with dot syntax: `cust.name`

In [11]:
class Customer:
    # set the name attribute of an object
    def set_name(self, new_name):
        self.name = new_name 
        # will create `name` when set_name is called
        #   `name` will not appear in the dir() list 
        #   until `set_name` is called

In [12]:
c4 = Customer()

In [13]:
type(c4)

__main__.Customer

In [14]:
c4.set_name("Paul")

In [15]:
c4.name

'Paul'

In [16]:
class Customer:
    def set_name(self, new_name):
        self.name = new_name

    def identify(self):
        print("I am customer " + self.name)

In [17]:
c5 = Customer()

c5.set_name("Paul")
c5.identify()

I am customer Paul

In [18]:
c5.name = "Carlos"

In [19]:
c5.identify()

I am customer Carlos

In [20]:
c6 = Customer()
c6.name = "Kim"

In [21]:
c6.identify()

I am customer Kim

#### Create your first class

In [22]:
class Employee:
    
    def set_name(self, new_name):
        self.name = new_name

    def set_salary(self, new_salary):
        self.salary = new_salary

    def give_raise(self, amount):
        self.salary += amount

    def monthly_salary(self):
        return self.salary / 12

emp = Employee()
emp.set_name('Korel Rossi')
emp.set_salary(50000)

print(emp.name, emp.salary)

emp.salary += 1500

print(emp.salary)
print(emp.monthly_salary())

Korel Rossi 50000
51500
4291.666666666667

### Class anatomy: the `__init__` constructor

#### Constructor

- Add data to object when creating it
- **Constructor** `__init__` method is called every time an object is created
- the `__init__` constructor is also a good place to set default values for attributes
- it is a best practice to define all attributes in the constructor
    - makes code more useable and maintainable

In [23]:
class Customer:
    def __init__(self, name):
        self.name = name
        print("The __init__ method was called")

In [24]:
c7 = Customer('Paul')

The __init__ method was called

In [25]:
c7.name

'Paul'

In [26]:
class Customer:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        print("The __init__ method was called")

In [27]:
c8 = Customer("Bobby", 100000)

The __init__ method was called

In [28]:
c8.name, c8.salary

('Bobby', 100000)

In [29]:
# a __init__ constructor sets default value
class Customer:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance 
        print("The __init__ method was called")

In [30]:
c9 = Customer("Paul")
c9.name, c9.balance

The __init__ method was called

('Paul', 0)

In [31]:
c10 = Customer("Jane", 100)
c10.name, c10.balance

The __init__ method was called

('Jane', 100)

#### Best Practices

1. Initialize attributes in `__init__()`
2. Naming
    - `CamelCase` for classes
    - `lower_snake_case` for functions and attributes
3. Keep `self` as `self`
    - the choice of `self` is only a convention, any other name can be used, but that would be confusing
4. Use docstrings
    - classes, like functions, allow for docstrings
    - use them because they are displayed when `help()` is called on the object

In [32]:
class MyClass:
    """I am a docstring"""
    pass

#### Add a class constructor

In [33]:
from datetime import datetime

class Employee:

    def __init__(self, name, salary=0):
        self.name = name
        
        if salary > 0:
          self.salary = salary
        else:
          self.salary = 0
          print("Invalid salary!")
          
        self.hire_date = datetime.today()
    
    def give_raise(self, amount):
        self.salary += amount

    def monthly_salary(self):
        return self.salary/12

In [34]:
emp = Employee("Korel Rossi")
print(emp.name, emp.salary, emp.hire_date)

Invalid salary!
Korel Rossi 0 2023-01-05 04:07:03.530154

In [35]:
emp2 = Employee("Paul", 100)
print(emp2.name, emp2.salary, emp.hire_date)

Paul 100 2023-01-05 04:07:03.530154

In [36]:
emp3 = Employee("Carlos", -10)
print(emp3.name, emp3.salary, emp.hire_date)

Invalid salary!
Carlos 0 2023-01-05 04:07:03.530154

#### Write a class from scratch

In [37]:
class Point:

    def __init__(self, x=0.0, y=0.0):
        self.x = x
        self.y = y 

    def distance_to_origin(self):
        return (self.x**2 + self.y**2) ** (1/2)

    def reflect(self, axis):
        if axis == "x":
            self.y = -self.y 
        elif axis == "y":
            self.x = -self.x 
        else:
            print("Error: axis is invalid")

In [38]:
pt = Point(x=3.0)
pt.reflect("y")
print(pt.x, pt.y)
pt.y = 4.0
print(pt.distance_to_origin())

-3.0 0.0
5.0

## Inheritance and Polymorphism

### Instance and class data

In [39]:
class Employee:
    # A class attribute
    MIN_SALARY = 30000 # <--- no `self`

    def __init__(self, name, salary):
        self.name = name

        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY
    
emp1 = Employee('Teo Mille', 50000)
emp2 = Employee('Marta Popov', 20000)

display(emp1.name, emp1.salary, emp1.MIN_SALARY)
display(emp2.name, emp2.salary, emp2.MIN_SALARY)

'Teo Mille'

50000

30000

'Marta Popov'

30000

30000

#### Instance-level data

- In the code above, `name` and `salary` are **instance attributes**
- `self` binds to an instance

#### Class-level data

- In the code above, `MIN_SALARY` is a **class attribute**
- Data shared among all instances of a class
- Define class attributes in the body of a class
- This is also a **global variable** within the class
- Note that we don't use `self` to define class attributes
- We can use the class name to access these attributes

#### Why use class attributes? (Global constants related to the class)

- used for minimal or maximal values for attributes
- for commonly used values and constants
    - `pi` might be used in a `Circle` class

#### Class methods

- Regular methods are already shared between instances
    - The same code gets executed for every instance
    - The only difference is the data that is fed into it
- It is possible to define methods bound to class rather than instances
    - But these methods have a narrow application scope because they are not able to use any instance-level data
    - To do this start with a `@classmethod` decorator
    - Instead of `self`, use `cls`
    - To call these methods, use **class-dot-method** syntax rather that **object-dot-method** syntax

In [40]:
class MyClass:

    @classmethod
    def my_awesome_method(cls, word):
        # can't use any instance attributes
        print(word)

In [41]:
MyClass.my_awesome_method("hello")

hello

In [42]:
mc = MyClass()

In [43]:
mc.my_awesome_method("goodbye")

goodbye

#### Alternative constructors

- Alternative constructors are the main use case for class methods
- A class can only have one `__init__` method, but there might be multiple ways to initialize an object

In [44]:
import base64
import requests

class Employee:
   
    MIN_SALARY = 30000

    def __init__(self, name, salary):
        self.name = name

        if salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            self.salary = Employee.MIN_SALARY

    # we can't use a regular method for an alternate 
    #   constructor, because an object has not
    #   been created yet
    @classmethod 
    def from_file(cls, filename):
        req = requests.get(filename)
        name = req.text
        # the cls in the next line refers to the class
        #  so it will call the `__init__` constructor
        return cls(name, 70000)

In [45]:
path = 'https://raw.githubusercontent.com/PaulToronto/'
path += 'Math-and-Data-Science-Reference/main/'
path += 'files/myfile.txt'

In [46]:
emp1 = Employee("Paul", 60000)
emp2 = Employee.from_file(path)
print(emp1.name, emp1.salary)
print(emp2.name, emp2.salary)

Paul 60000
Carlos 70000

#### Class-level attributes

In [47]:
# Create a Player class
#  - that has a class attribute MAX_POSITION 
#    with value 10
#  - and an __init__ method that sets the 
#    position instance to 0
class Player:

    MAX_POSITION = 10
    MAX_SPEED = 3

    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else:
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console    
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

In [48]:
# Print Player.MAX_POSITION       
print(Player.MAX_POSITION)

# Create a player p and print its MAX_POSITITON
p = Player()
print(p.MAX_POSITION)

10
10

In [49]:
p.draw()

|----------

In [50]:
p.move(4)
p.draw()

----|------

In [51]:
p.move(1)
p.draw()

-----|-----

In [52]:
p.move(4)
p.draw()

---------|-

In [53]:
p.move(3)
p.draw()

----------|

#### Changing class attributes

In [54]:
# Create Players p1 and p2
p1 = Player()
p2 = Player()

print("MAX_SPEED of p1 and p2 before assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

# Assign 7 to p1.MAX_SPEED
p1.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
# Print p1.MAX_SPEED and p2.MAX_SPEED
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

print("MAX_SPEED of Player:")
# Print Player.MAX_SPEED
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
3
MAX_SPEED of Player:
3

##### What happened?

Python created a new instance attribute in `p1`, also called it `MAX_SPEED`, and assigned `7` to it, without touching the class attribute.

In [55]:
p1, p2 = Player(), Player()

print("MAX_SPEED of p1 and p2 before assignment:")
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

# ---THIS LINE WAS MODIFIED--- 
Player.MAX_SPEED = 7

print("MAX_SPEED of p1 and p2 after assignment:")
print(p1.MAX_SPEED)
print(p2.MAX_SPEED)

print("MAX_SPEED of Player:")
print(Player.MAX_SPEED)

MAX_SPEED of p1 and p2 before assignment:
3
3
MAX_SPEED of p1 and p2 after assignment:
7
7
MAX_SPEED of Player:
7

Not obvious, right? But it makes sense, when you think about it! You shouldn't be able to change the data in all the instances of the class through a single instance. Imagine if you could change the time on all the computers in the world by changing the time on your own computer! If you want to change the value of the class attribute at runtime, you need to do it by referring to the class name, not through an instance.

#### Alternative constructors

In [56]:
class BetterDate:    
    # Constructor
    def __init__(self, year, month, day):
      # Recall that Python allows multiple variable assignments in one line
      self.year, self.month, self.day = year, month, day
    
    # Define a class method from_str
    @classmethod
    def from_str(cls, datestr):
        # Split the string at "-" and convert each part to integer
        year, month, day = map(int, datestr.split("-"))
        # Return the class instance
        return cls(year, month, day)

    # Define a class method from_datetime accepting a datetime object
    @classmethod
    def from_datetime(cls, datetimeobj):
        year, month, day = datetimeobj.year, datetimeobj.month, datetimeobj.day
        return cls(year, month, day)

In [57]:
bd1 = BetterDate(2020, 4, 30)
print(bd1.year, bd1.month, bd1.day)

2020 4 30

In [58]:
bd2 = BetterDate.from_str('2020-04-30')
print(bd2.year, bd2.month, bd2.day)

2020 4 30

In [59]:
today = datetime.today()
bd3 = BetterDate.from_datetime(today)
print(bd3.year, bd3.month, bd3.day)

2023 1 5

### Class inheritance

- OOP is fundamentally about code reuse
- Modules are great for fixed functionality
- OOP is great for cutomizing functionality
- You may find yourself writing the same code repeatedly

#### Inheritance

- `New class functionality = Old class functionality + extra`
- **Class inheritance** is a mechanisim by which we can define a new class that gets all the functionality of another class plus something extra
    - without re-implementing the code

##### Example

- `BankAccount` class
    1. `balance` attribute
    2. `withdraw()` method
- `SavingsAccount` class
    1. has what a `BankAccount` class has, plus
    2. `interest_rate` attribute
    3. `compute_interest()` method
- `ChequingAccount` class
    1. has what a `BankAccount` class has, plus
    2. `limit` attribute
    3. `deposit()` method
    4. the `withdraw()` class is a modified version of the same method in the `BankAccount` class, maybe it charges a fee for withdrawals

It makes sense to reuse the code in the `BankAccount` class when create the `SavingsAccount` and `ChequingAccount` classes

In [60]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

# Empty class inherited from BankAccount
class SavingsAccount(BankAccount):
    pass

##### Child class

- The child class has all of the parent data
- This is because a `SavingsAccount` **is a** `BankAccount`
    - Inheritance: "is-a" relationship

In [61]:
savAcc = SavingsAccount(1000)
type(savAcc)

__main__.SavingsAccount

In [62]:
print(savAcc.balance)
savAcc.withdraw(100)
print(savAcc.balance)

1000
900

##### Inheritance: "is-a" relationship

In [63]:
isinstance(savAcc, SavingsAccount), isinstance(savAcc, BankAccount)

(True, True)

In [64]:
acc = BankAccount(100)
type(acc)

__main__.BankAccount

In [65]:
isinstance(acc, SavingsAccount), isinstance(acc, BankAccount)

(False, True)

#### Understanding inheritance

In [66]:
class Counter:
    def __init__(self, count):
        self.count = count

    def add_counts(self, n):
        self.count += n

class Indexer(Counter):
    pass

In [67]:
ind = Indexer(10)

In [68]:
ind.count

10

In [69]:
ind.add_counts(5)
ind.count

15

#### Create a subclass

In [70]:
class Employee:
  MIN_SALARY = 30000    

  def __init__(self, name, salary=MIN_SALARY):
      self.name = name
      if salary >= Employee.MIN_SALARY:
        self.salary = salary
      else:
        self.salary = Employee.MIN_SALARY
        
  def give_raise(self, amount):
      self.salary += amount

In [71]:
class Manager(Employee):
    def display(self):
        print("Manager " + self.name)

In [72]:
mng = Manager("Debbie Lashko", 86500)

In [73]:
mng.name, mng.salary

('Debbie Lashko', 86500)

In [74]:
mng.display()

Manager Debbie Lashko

### Customizing functionality via inheritance

In [75]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):
        self.balance -= amount

# Empty class inherited from BankAccount
class SavingsAccount(BankAccount):
    # constructor specifically for SavingsAccount with additional parameter
    def __init__(self, balance, interest_rate):
        # call the parent constructor
        BankAccount.__init__(self, balance)
        # add more functionality
        self.interest_rate = interest_rate

    # new functionality
    def compute_interest(self, n_periods = 1):
        return self.balance * ((1 + self.interest_rate) ** n_periods - 1)

In [76]:
sav = SavingsAccount(500, 0.03)
sav.balance, sav.interest_rate

(500, 0.03)

In [77]:
sav.withdraw(50)
sav.balance

450

In [78]:
sav.compute_interest()

13.500000000000012

In [79]:
sav.compute_interest(10)

154.762370704855

In [80]:
class CheckingAccount(BankAccount):
    def __init__(self, balance, limit):
        BankAccount.__init__(self, balance)
        self.limit = limit 
    
    def deposit(self, amount):
        self.balance += amount

    # we can change the signature of the parent withdraw method
    # we use `Parent.method_name(self, args...) to call the parent method
    def withdraw(self, amount, fee=0):
        if fee <= self.limit:
            BankAccount.withdraw(self, amount - fee)
        else:
            BankAccount.withdraw(self, amount - self.limit)

In [81]:
check_acct = CheckingAccount(1000, 25)
reg_acct = BankAccount(1000)

check_acct.balance, reg_acct.balance

(1000, 1000)

In [82]:
check_acct.withdraw(100)
reg_acct.withdraw(100)

# note that the interface of the call is the same
# - but the actual method is determined by the 
#   instance class
#    - this is an application of polymorphism
check_acct.balance, reg_acct.balance

(900, 900)

In [83]:
check_acct.withdraw(100, fee=10)
check_acct.balance

810

In [84]:
# error
# reg_acct.withdraw(100, fee=10)

#### Method inheritance

Add a constructor to Manager that:

- accepts `name`, `salary` (default `50000`), and project (default `None`)
- calls the constructor of the `Employee` class with the `name` and `salary` parameters,
- creates a project attribute and sets it to the project parameter.

In [85]:
class Employee:
    def __init__(self, name, salary=30000):
        self.name = name
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

        
class Manager(Employee):
  # Add a constructor 
    def __init__(self, name, salary=50000, project=None):

        # Call the parent's constructor   
        Employee.__init__(self, name, salary)

        # Assign project attribute
        self.project = project  

  
    def display(self):
        print("Manager ", self.name)

In [86]:
mngr = Manager("Paul", 100_000)
mngr.display()

Manager  Paul

#### Inheritance of class attributes

In [87]:
class Player:

    MAX_POSITION = 10
    MAX_SPEED = 3

    def __init__(self):
        self.position = 0

    # Add a move() method with steps parameter
    def move(self, steps):
        if self.position + steps < Player.MAX_POSITION:
            self.position += steps
        else:
            self.position = Player.MAX_POSITION

    # This method provides a rudimentary visualization in the console    
    def draw(self):
        drawing = "-" * self.position + "|" +"-"*(Player.MAX_POSITION - self.position)
        print(drawing)

In [88]:
# Create a Racer class and set MAX_SPEED to 5
class Racer(Player):
    
    MAX_SPEED = 5
 
# Create a Player and a Racer objects
p = Player()
r = Racer()

print("p.MAX_SPEED = ", p.MAX_SPEED)
print("r.MAX_SPEED = ", r.MAX_SPEED)

print("p.MAX_POSITION = ", p.MAX_POSITION)
print("r.MAX_POSITION = ", r.MAX_POSITION)

p.MAX_SPEED =  3
r.MAX_SPEED =  5
p.MAX_POSITION =  10
r.MAX_POSITION =  10

In [89]:
p.position, r.position

(0, 0)

#### Customizing a DataFrame

In [90]:
# Import pandas as pd
import pandas as pd

# Define LoggedDF inherited from pd.DataFrame and add the constructor
class LoggedDF(pd.DataFrame):
    def __init__(self, *args, **kwargs):
        pd.DataFrame.__init__(self, *args, **kwargs)
        self.created_at = datetime.today()

    def to_csv(self, *args, **kwargs):
        # copy self to a temporary DataFrame
        temp = self.copy()
        
        temp['created_at'] = self.created_at

        return temp.to_csv(*args, **kwargs)
    
    
ldf = LoggedDF({"col1": [1,2], "col2": [3,4]})
print(ldf.values)
print(ldf.created_at)

[[1 3]
 [2 4]]
2023-01-05 04:07:05.841252

In [91]:
ldf

   col1  col2
0     1     3
1     2     4

In [92]:
csv_data = ldf.to_csv()

In [93]:
print(csv_data)

,col1,col2,created_at
0,1,3,2023-01-05 04:07:05.841252
1,2,4,2023-01-05 04:07:05.841252

## Integrating with Standard Python

### Operator overloading: comparison

#### Object equality

In [94]:
# `id` uniquely identifies a customer
class Customer:
    def __init__(self, name, balance, id):
        self.name, self.balance = name, balance
        self.id = id

customer1 = Customer("Maryam Azar", 3000, 123)
customer2 = Customer("Maryam Azar", 3000, 123)

In [95]:
customer1 == customer2

False

In [96]:
# - these are distinct objects storted in 2 separate locations
# - these variables, `customer1` and `customer2` contain
#   references to the memory chunks where they are stored
customer1, customer2

(<__main__.Customer at 0x7f0f891d15b0>, <__main__.Customer at 0x7f0f891d1610>)

In [97]:
array1 = np.array([1, 2, 3])
array2 = np.array([1, 2, 3])

array1, array2

(array([1, 2, 3]), array([1, 2, 3]))

In [98]:
array1 == array2 # compared using their data, not references

array([ True,  True,  True])

#### Overloading `__eq__()`

In [99]:
class Customer:
    def __init__(self, id, name):
        self.id, self.name = id, name 

    # will be called when `==` is used
    def __eq__(self, other):
        # diagnostic printout
        print("__eq__() is called")

        return (self.id == other.id) and \
         (self.name == other.name)

In [100]:
customer1 = Customer(123, "Maryan Azar")
customer2 = Customer(123, "Maryan Azar")

customer1 == customer2

__eq__() is called

True

In [101]:
customer1 = Customer(123, "Maryan Azar")
customer2 = Customer(456, "Maryan Azar")

customer1 == customer2

__eq__() is called

False

#### Other comparison operators

- `==`: `__eq__()`
- `!=`: `__ne__()`
- `>=`: `__ge__()`
- `<=`: `__le__()`
- `>`:  `__gt__()`
- `<`:  `__lt__()`

#### `__hash__()`

- to use objects as dictionary keys and in sets
- it is beyond the scope of this course
    - briefly:
        - it should assign an integer to an object such that equal objects have equal hashes
        - the object hash does not change throughout the object's lifetime

#### Overloading equality

In [102]:
class BankAccount:
   # MODIFY to initialize a number attribute
    def __init__(self, number, balance=0):
        self.number = number
        self.balance = balance
      
    def withdraw(self, amount):
        self.balance -= amount 
    
    # Define __eq__ that returns True if the number attributes are equal 
    def __eq__(self, other):
        return self.number == other.number   

# Create accounts and compare them       
acct1 = BankAccount(123, 1000)
acct2 = BankAccount(123, 1000)
acct3 = BankAccount(456, 1000)
print(acct1 == acct2)
print(acct1 == acct3)

True
False

Notice that the `__eq__()` method compares just the account numbers, but not balances. What would happen if two accounts have the same account number but different balances? The code you wrote will treat these accounts as equal, but it might be better to throw an error - an `_exception_` - instead, informing the user that something is wrong. At the end of the chapter, you'll learn how to define your own exception classes to create these kinds of custom errors.

#### Checking class equality

- What is the objects are not from the same class?

In [103]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
      
    def withdraw(self, amount):
        self.balance -= amount 

    # MODIFY to add a check for the type()
    def __eq__(self, other):
        return (self.number == other.number)

In [104]:
class Phone:
    def __init__(self, number):
        self.number = number

In [105]:
acct = BankAccount(8735553333)
pn = Phone(8735553333)

In [106]:
acct == pn

True

In [107]:
pn == acct

True

##### Modified version makes more sense

In [108]:
class BankAccount:
    def __init__(self, number, balance=0):
        self.number, self.balance = number, balance
      
    def withdraw(self, amount):
        self.balance -= amount 

    # MODIFY to add a check for the type()
    def __eq__(self, other):
        return (self.number == other.number) and \
            (type(self) == type(other))

In [109]:
acct = BankAccount(8735553333)
pn = Phone(8735553333)

In [110]:
acct == pn

False

In [111]:
pn == acct

False

#### Comparison and inheritance